.app-font-weight-500 {
  font-weight: 500 !important;
}

.ecs-text-error {
  color: $error !important;
}

.ecs-text-success {
  color: $success !important;
}

.ecs-text-warning {
  color: $warning !important;
}

.ecs-text-danger {
  color: $danger !important;
}

.app-white-space-break-spaces {
  white-space: break-spaces !important;
}
