.toast {
  &-error {
    background-color: $danger;
  }
  
  &-success {
    background-color: $success;
  }

  &-warning {
    background-color: $warning;
  }

  &-container .ngx-toastr:hover {
    box-shadow: 0 0 12px #999999;
  }

  &-close-button {
    font-weight: 400;
    outline: none;

    &:hover,
    &:focus {
      color: #fff;
      text-decoration: none;
      cursor: pointer;
      opacity: 0.8;
      outline: none;
    }
  }
}